body{
	width: available;
    height: available;
	background-image: url(https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?cs=srgb&dl=pexels-adrien-olichon-2387793.jpg&fm=jpg);
	background-size: cover;
    font-family: DejaVu Sans Mono, monospace;
    color: white;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease-in-out; /* Додали перехід для плавного зникнення */
    pointer-events: none;
}

a{
    text-decoration: none;
}

a:hover{
    color: gray;
}

.nav{
    margin-top: 150px;
}

.nav li{
    list-style-type: none;
    text-align: center;
    margin-right: 30px;
}

.nav a{
    color: white;
}

.nav a:hover{
    color: gray;
}

.title{
    float: left;
    margin-left: 70px;
}

.about{ 
    margin-top: 70px;
    margin-left: 70px;
}

.listabout li{
    list-style-type: none;
    margin: 10px 30px;
}

.personPhoto {
  border-radius: 100%;
  width: 150px;
  max-width: 100%;
  height: 150px;
  margin: 0 auto;
}

.logo{
    width: 20px;
    height: 20px;
    max-width: 100%;
    margin: 0 auto;
}

.leftpane{
    width: 30%;
    min-width: 250px;
    height: available;
    min-height: 100%;
    float: left;
}

.leftpane1{
    width: 10%;
    min-width: 250px;
    height: available;
    min-height: 98%;
    float: left;
    background-color: #383838;
    border-radius: 15px;
    position: fixed;
}

.middlepane{
   width: 45%;
   min-width: 700px;
   height: auto;
   float: left;
   background-color: #545454;
   border-radius: 15px;
}

.rightpane{
    width: available;
    height: available;
    position: relative;
    margin-left: 75%;
}

.indicator{
    margin-top: 70px;
    margin-left: 90px;
    float: left;
}

.indicator1{
    margin-top: 70px;
    margin-left: 80px;
    float: left;
}

.parrent{
    width: 200px;
    height: 3px;
    background: #f2f2f2;
    margin-bottom: 40px;
}

.child{
    height: 100%;
    background: gray;
}

.first{
    width: 80%;
}

.second{
    width: 75%;
}

.third{
    width: 60%;
}

.fourth{
    width: 50%;
}

.education{
    margin-top: 250px;
    margin-left: 70px;
}

.space{
    margin-top: 10px;
}

.link{
    color: #CACACA;
}

.downloads{
    margin-top: 80px;
    margin-left: 70px;
    padding-bottom: 25px;
}

.downloads li{
    list-style-type: none;
}

.up{
    position: fixed;
    width: 40px;
    height: 40px;
    border: solid;
    border-radius: 35px;
    color: white;
    background-color: #383838;
    border-width: 1px;
    padding: 2px;
    left: 95%;
    bottom: 5%;
}

.up:hover{
    background-color: #202020;
}

.language a{
    position: fixed;
    left: 97%;
    border: solid;
    background-color: #383838;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.language a:hover{
    color: gray;
}